.navbar-lewagon {
  justify-content: space-between;
  background: #D0CFCF;
  height: 75px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#brand {
  border-radius: 10px;
  background-color: white;
}
